{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: "class",
      theme: {
        extend: {
          colors: {
            lightbg: "#ffffff",
            darkbg: "#000000"
          },
        },
      },
    };
  </script>

  <style>
  </style>
</head>

<body class="bg-lightbg dark:bg-darkbg text-black dark:text-white">

  {% include "nav.html" %}


  <section
    class="relative flex items-center justify-center min-h-screen text-center bg-cover bg-center"
    style="background-image: url('{% static 'media/homebg.webp' %}');"
  >
   
    <div class="absolute inset-0 bg-black/60 dark:bg-black/70"></div>


    <div class="relative z-10 max-w-4xl mx-auto px-6">
      <div class="bg-white dark:bg-black/40 p-10">

        <h1 class="text-3xl md:text-4xl font-bold mb-5">
          Salinity Sentinel – A Smart Soil Monitoring System for Coastal Bangladesh
        </h1>

        <p class="leading-relaxed text-[1.05rem]">
          The coastal regions of Bangladesh are severely affected by soil salinity, which directly hampers agricultural productivity and the livelihoods of farmers.
          <br /><br />
          Salinity Sentinel is a smart, low-cost soil monitoring system that uses sensors and Python-based software to measure soil salinity, moisture, temperature, and pH in real-time — helping farmers take preventive action and protect their crops.
        </p>

      </div>
    </div>
  </section>

  {% include "footer.html" %}

</body>
</html>
